<section>
  <div class="w-full mx-auto px-4 py-4 sm:px-6 md:px-24 md:py-16 lg:px-8 lg:py-10">

    <div class="sidebar">
      <div class="row-gap-8 grid grid-cols-2 rounded-lg border border-gray-200 bg-white shadow md:grid-cols-7 dark:border-gray-700 dark:bg-gray-800">
        <ng-container *ngIf="dataSingleEdiResultHeader$ | async as header">
          <div class="col flex items-center justify-center" *ngFor="let key of orderKeys">
            <div *ngIf="header.hasOwnProperty(key)" class="col-md-6 flex items-center justify-center">
              <ng-container *ngIf="estatusSvgMap[key] as svg">
                <div [innerHTML]="getSvgContent(svg)" class="mr-2 flex items-center"></div>
              </ng-container>
              <hr class="border-t-2 border-gray-200 dark:border-gray-700">

              <div class="col-md-6">
                <div class="text-center dark:md:border-slate-500">
                  <div class="font-heading text-[2.6rem] font-bold lg:text-5xl xl:text-6xl dark:text-white">{{ header[key] }}</div>
                  <p class="text-sm font-medium uppercase tracking-widest text-gray-800 lg:text-base dark:text-slate-400">{{ key }}</p>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <p>
      viajesMapbox works!
      <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button>
      <p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
            <ng-template pTemplate="header">
                <div class="inline-flex align-items-center justify-content-center gap-2">
                    <span class="font-bold white-space-nowrap">Mapa</span>
                </div>
            </ng-template>

            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <ng-template pTemplate="footer">
                <p-button icon="pi pi-check" (click)="visible = false" label="Ok" pAutoFocus [autofocus]="true"></p-button>
            </ng-template>
      </p-dialog>
    </p>

    <div id="map"></div>



  </div>
</section>
<div id="map"></div>

