<!-- <div id="map"></div> -->
<section
  class="text-gray-600 body-font relative"
  style="height: -webkit-fill-available"
>
  <div class="absolute inset-0 bg-gray-300">
    <!-- <iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" title="map" scrolling="no" src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=%C4%B0zmir+(My%20Business%20Name)&ie=UTF8&t=&z=14&iwloc=B&output=embed"></iframe> -->
    <div id="map"></div>
    <!-- <iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" title="map" scrolling="no" src="https://www.openstreetmap.org/export/embed.html?bbox=-2.6706272363662724%2C42.845961772892764%2C-2.6656115055084233%2C42.84890760102263&amp; layer=mapnik&amp;marker=42.84743470451829%2C-2.6681193709373474"></iframe> -->
  </div>

  <div class="container px-5 py-2 mx-auto flex">
    <!-- <div class="lg:w-1/4 md:w-1/2 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md"> -->
    <div
      class="bg-white rounded-lg p-8 flex flex-nowrap flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md"
      style="
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
      "
    >
      <ng-container *ngIf="dataSingleEdiResultHeader$ | async as header">
        <div
          class="row flex items-center justify-center"
          *ngFor="let key of orderKeys"
        >
          <div
            *ngIf="header.hasOwnProperty(key)"
            class="col-md-6 flex items-center justify-center"
          >
            <ng-container *ngIf="estatusSvgMap[key] as svg">
              <div
                [innerHTML]="getSvgContent(svg)"
                class="mr-2 flex items-center"
              ></div>
            </ng-container>
            <hr class="border-t-2 border-gray-200 dark:border-gray-700" />

            <div class="col-md-6">
              <div class="text-center dark:md:border-slate-500">
                <div
                  class="font-heading text-[2.6rem] font-bold lg:text-5xl xl:text-6xl dark:text-white"
                >
                  {{ header[key] }}
                </div>
                <p
                  class="text-sm font-medium uppercase tracking-widest text-gray-800 lg:text-base dark:text-slate-400"
                >
                  {{ key }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
