<!-- app.component.html -->
<div class="flex flex-col h-screen bg-gray-100">
  <header class="bg-white border-b p-4">
    <h1 class="text-xl font-bold">Trackeo EDI</h1>
  </header>

  <main class="flex items-center justify-center h-full p-4">
    <div class="max-w-md w-full">
      <div class="bg-white p-4 rounded-md shadow-md">

        <div class="mb-4">
          <label class="block text-sm font-semibold mb-2" for="selectedEmpresa">Empresa</label>
          <select
            id="selectedEmpresa"
            name="selectedEmpresa"
            class="w-full p-2 border rounded-md"
            [(ngModel)]="selectedEmpresa"
            (change)="seleccionarEmpCliente()"
          >
            <option value="" disabled selected>Seleccionar empresa</option>
            <option *ngFor="let empresa of empresas" [value]="empresa">{{ empresa.name }}</option>
          </select>
        </div>

        <div class="mb-4">
          <label class="block text-sm font-semibold mb-2" for="selectedCliente">Seleccionar Cliente</label>
          <select
            id="selectedCliente"
            name="selectedCliente"
            class="w-full p-2 border rounded-md"
            [(ngModel)]="selectedCliente"
          >
            <option value="" disabled selected>Seleccionar Cliente</option>
            <option *ngFor="let cliente of clientes" [value]="cliente">{{ cliente.descripcion }}</option>
          </select>
        </div>

        <button class="bg-blue-700 text-white px-4 py-2 rounded-md" (click)="viajesEdi()">Buscar</button>

      </div>
    </div>
  </main>

  <div id="map" class="flex-1"></div>

  <div class="fixed bottom-4 left-1/2 transform -translate-x-1/2">
    <button class="bg-blue-700 text-white px-4 py-2 rounded-md" (click)="viajesEdi()">Buscar</button>
  </div>
</div>
