.layout {
  width: 100%;

  display: grid;
  grid:
    "sidebar Detalles Errores" 1fr
    / auto 1fr 1fr;
  gap: 8px;
  grid-auto-flow: row dense;
}

.sidebar { grid-area: sidebar; white-space:nowrap; }
.Detalles { grid-area: Detalles; }
.Errores { grid-area: Errores; }

.sticky-th {
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 2;
}


.scrollable-table {
  overflow-y: auto;
  position: relative;
  overflow-y: hidden;

  th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 1;
  }

  td {
    overflow-y: auto;
    animation: scrollAnimation 10s linear infinite;
    text-align: left;
    z-index: -1;
  }

   /* Detener la animación en el hover */
   &:hover td {
    animation-play-state: paused;
  }
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(-860px - 80%));
  }
}
