

<section class="layout gap-x-8" >
  <div class="sidebar">
    <div class=" py-24 sm:py-16">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">

        <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-1" *ngFor="let entry of (dataSingleEdiResultHeader$ | async) | keyvalue">
          <div class="mx-auto flex max-w-xs flex-col gap-y-4">
            <dt class="text-base leading-7 text-gray-600">{{ entry.key }}</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{{ entry.value }}</dd>
          </div>
        </dl>

      </div>
    </div>
  </div>

  <div class="body" style="flex-wrap: wrap;">

    <!-- Tabla de infoTimeShipments -->
<div class="row-auto w-full mt-4 overflow-x-auto">
  <p-table [value]="(dataSingleEdiResult$ | async)?.infoTimeShipments" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}" #shipmentsTable>
    <ng-template pTemplate="header">
      <tr>
        <th>Descripción</th>
        <th>Shipment</th>
        <th>Estatus EDI</th>
        <th>Horas Transcurridas</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-shipment>
      <tr>
        <td>{{shipment.descripcion}}</td>
        <td>{{shipment.shipment}}</td>
        <td>{{shipment.estatus_EDI}}</td>
        <td>{{shipment.horasTranscurrido}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

    <!-- Tabla de infoErrorShipments -->
    <div class="row-auto w-full mt-4 overflow-x-auto">
      <p-table [value]="(dataSingleEdiResult$ | async)?.infoErrorShipments" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}" #detallesTable>
        <ng-template pTemplate="header">
          <tr>
            <th>Shipment</th>
            <th>Equipo</th>
            <th>Errores</th>
            <th>Detalle</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-shipment>
          <tr>
            <td>{{shipment.shipment}}</td>
            <td>{{shipment.equipo}}</td>
            <td>{{shipment.errores}}</td>
            <td>{{shipment.detalle_En_La}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </div>
</section>


