
 .layout {
  height: 70vh;
  display: grid;
  grid-template-areas: "sidebar body";
  grid-template-columns: auto 1fr;
  gap: 8px;
}

.body {
  display: flex;
  flex-wrap: wrap;
  //flex-direction: column;
  overflow-y: hidden;
}

.scrollable-table {
  overflow-y: auto;
  position: relative;
  overflow-y: hidden;

/*   table {
    width: 50%;
    height: 100px;
  } */

  th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 2;
  }

  td {
    overflow-y: auto;
    animation: scrollAnimation 10s linear infinite;
    text-align: left;
    z-index: -1;
  }
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(-760px - 80%));
  }
}
