 .layout {
  width: 100%;

  display: grid;
  grid:
    "sidebar Detalles Errores" 1fr
    / auto 1fr 1fr;
  gap: 8px;
  grid-auto-flow: row dense;
}

.sidebar { grid-area: sidebar; white-space:nowrap; }
.Detalles { grid-area: Detalles; }
.Errores { grid-area: Errores; }
