.layout {
  width: 100%;

  display: grid;
  grid:
    "sidebar body" 1fr
    / auto 1fr;
  gap: 8px;
}

.sidebar { grid-area: sidebar; white-space:nowrap; }
.body {
  grid-area: body;
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  #map {
    height: 100%;
  }

  #indicators{
    padding: 16px;
    height: 40%;
    width: 90%;
    overflow-y: auto;
    display: block;

    .marker-label {
      background-color: #3498db;
      color: #ffffff;
      padding: 8px;
      border-radius: 5px;
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 8px;
    }
  }

  // Agrega estilos para el maker
  .gm-style-iw {
    width: 200px !important;
    max-height: 120px !important;
  }

  .gm-style-iw-c {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }

  .gm-style-iw-d {
    overflow: hidden !important;
  }

  .gm-style-iw-t::after {
    content: '' !important;
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
    border-bottom: 10px solid white !important;
    top: -10px !important;
    left: 50% !important;
    margin-left: -10px !important;
  }

  height: 100%;
}
